<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
	  <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <system.webServer>
	<validation validateIntegratedModeConfiguration="false" />
	<rewrite>
            <outboundRules>
                <rule name="Server_response">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" value="SDS server" />
                </rule>
            </outboundRules>
    </rewrite>
	
<httpProtocol>
    <customHeaders>
      <clear />
	  <add name="X-Frame-Options" value="SAMEORIGIN" />
      <remove name="Server" />		
      <remove name="X-Powered-By" />
      <remove name="X-AspNet-Version" />  	  
    </customHeaders>
	
</httpProtocol>
        <!--<httpRedirect enabled="true" destination="https://sds.pnu.edu.sa/sites/sds_ar/pages/sdshomepage.aspx" /> -->
</system.webServer>

<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>